@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    width: 90dvw;
    align-self: center;
    height: 6rem;
}